concurrent = 8
check_interval = 0

[session_server]
  session_timeout = 1800

[[runners]]
  name = "{hostname} Batch Runner"
  url = "https://localhost:8080/"
  token = "{batch}"
  executor = "batch"
  setuid = true
  setuid_data_dir = "$HOME"
  [runners.cache]

[[runners]]
  name = "{hostname} Shell Runner"
  url = "https://localhost:8080/"
  token = "{shell}"
  executor = "shell"
  setuid = true
  setuid_data_dir = "$HOME"
  [runners.cache]
